{% load static %}
<nav class="navbar navbar-expand-md bg-primary navbar-custom navbar-dark"> 
    <!-- brand -->

<a href="{% url 'student' %}" class="navbar-brand"><img style="width: 35px;" src="{% static 'images/logo.png' %}" alt="Logo"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
 <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
<ul class="navbar-nav ml-auto pr-3" >
 <li class="nav-item active">
     <a href="#" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
 </li>
 <li class="nav-item">
     <a href="#" class="nav-link"><i class="fa fa-key" aria-hidden="true"></i> Features</a>
 </li>
 <li class="nav-item">
     <a href="#" class="nav-link"><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</a>
 </li>
 <li class="nav-item">
     <a href="#" class="nav-link"><i class="fa fa-address-book" aria-hidden="true"></i> Contact Us</a>
 </li>


<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>    
<div><a href="#"><img class="profile-img float-right" src="{{request.user.studentprofile.img.url}}" onerror="this.onerror=null;this.src='{% static 'images/avatar.png' %}';" alt="avatar"></a></div>


 <!-- <li class="nav-item ">
  <i class="fa fa-sign-out" aria-hidden="true"></i><a class="nav-link" href="accounts/login">Login</a>   
  </li> -->
</ul> 

</nav>